name: CI
on: [push, pull_request]
jobs:
  build-test:
    runs-on: ubuntu-latest
    strategy:
      matrix:
        go-version: ['1.23']
        platform: [amd64, arm64]
    steps:
      - uses: actions/checkout@v4
      - uses: actions/setup-go@v5
        with:
          go-version: ${{ matrix.go-version }}
      - uses: docker/setup-buildx-action@v3
      - run: make build-ebpf
      - run: make build
      - run: go test ./... -v
      - run: go test -tags integration ./... -v
      - name: Build & push image
        if: github.ref == 'refs/heads/main'
        run: |
          docker buildx build --platform linux/${{ matrix.platform }} -t ghcr.io/saworbit/diffkeeper:ci --push .
